<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studentcompany.sportgest">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventCategories.DisplayEventCategoryActivity" />
        <activity
            android:name=".EventCategories.ListEventCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Users.UserListActivity" />
        <activity android:name=".Players.PlayersList_Activity" />
        <activity
            android:name=".Users.CreateUser_Activity"
            android:label="@string/app_newUser" />
        <activity
            android:name=".Players.CreatePlayer_Activity"
            android:label="@string/app_newPlayer" />
        <activity
            android:name=".Team.TeamList_Activity"
            android:label="@string/app_teamView" />
        <activity
            android:name=".Team.CreateTeam_Activity"
            android:label="@string/app_newTeam" />
        <activity
            android:name=".Exercises.CreateExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exercises.DisplayExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exercises.ListExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Users.RolesListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Users.RoleDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Users.CreateRole_Activity"
            android:label="@string/title_activity_create_role_" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login2" />
        <activity android:name=".Games.GamesList_Activity" />
        <activity android:name=".Games.GameGeneralView_Activity"></activity>
        <activity
            android:name=".Team.EditTeam_Activity"/>
        <activity
            android:name=".Users.EditUser_Activity"/>
        <activity
            android:name=".Players.EditPlayer_Activity"/>

    </application>

</manifest>
